
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white:#fff;
  --black:#292929;
  --background:#efefef;
  --gold:#d9b36a;
  --grey:#cecccd;
}
body {
  background-color: var(--background);
  color: var(--black);
  font-family:sans-serif;
}